@media screen and (max-width:450px) {
    .navbar {
        z-index: 9999;
    }
    .menu-btn {
        display: block;
        padding: 8px 10px;
        background-color: black;
        color: gold;
        border: none;
        width: 40px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;
        /* position: fixed; */
        justify-self: left;
        right: 20px;
    }

    .navbar ul {
        display: none;
    }

    .navbar.active .hhh {
        display: block;
        position: fixed;
        top: 30px;
        left: -20px;
        height: 100vh;
        width: 50%;
        background-color: black;
        box-shadow:  12px 12px 10px rgba(0, 0, 0, .2);
        padding-top: 2rem;
        margin-top: 0;
        margin-left: 0px;
    }

    .logo {
    position: fixed;
    justify-self: left;
    right: 20px;
    }

    /* home */
    .box h1{
        font-size: 3rem;
        line-height: 50px;
    }

    .box h1 .rs {
        font-size: 90px;
    }

    .box p {
        font-size: 1rem;
        word-spacing: 10px;
    }

    .box a {
        font-size: 1rem;
    }

    /* about */
    .bio {
        flex-direction: column;
    }

    .bio img {
        width: 300px;
        height: 300px;
    }

    .subtitle p {
        width: 100%;
    }

    .details {
        flex-direction: column;
    }

    /* services */
    .services {
        grid-template-columns: 1fr ;
    }

    .s-card {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .s-card img {
        width: 100%;
        height: 100%;
    }

    

    /* choose */

    .video {
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        gap: 10px;
    }


    .video video {
        width: 100%;
        height: 100%;
    }

    .blocks p {
        width: 100%;
    }
    
    .il-card,.ir-card {
        margin-bottom: 50px;
    }

    .industries {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .review {
        flex-direction: column;
    }

    .comment {
        width: 100%;
    }

    /* brands */
    .clients h3 {
        font-size: 1.6rem;
    }

    .brands {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* foot */
    .links {
        flex-direction: column;
        justify-content: left;
        align-items: start;
        gap: 10px;
    }
}

@media (min-width:451px) and (max-width:990px) {

    .video {
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        gap: 10px;
    }


    .video video {
        width: 100%;
        height: 100%;
    }

    .clients h3 {
        font-size: 1.8rem;
    }
    
    .home h1 {
        font-size: 4rem;
        /* letter-spacing: 20px; */
        word-spacing: -30px;
        line-height: 80px;
    }

    .home h1 .rs {
        font-size: 150px;
    }

    .box p {
        font-size: 1.5rem;
        word-spacing: 20px;
    }

    .bio {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subtitle p {
        width: 100%;
    }

    .services {
        grid-template-columns: 1fr 1fr ;
    }
    .s-card {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .s-card img {
        width: 100%;
        height: 100%;
    }

}